.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 20px;
    height: 50px;
    cursor: pointer;
    transition: .3s;
    background: #F5F9FF;
    border: 1px solid #0071FF;
    border-radius: 8px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: #98b7e7;
}