.btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    padding: 10px;
    height: 40px;
    cursor: pointer;
    transition: .3s;
}

.btn-green {
    background-color: #1EA285;
}

.btn-green:hover {
    background-color: rgba(30, 162, 133, 0.16);
    border-color: #1EA285;
    color: #000;
}

.btn-border {
    border: 1px solid transparent;
}

.btn-md {
    width: 180px;
}