.btn {
    padding: 10px;
    width: 40px;
    transition: .3s;
}

.btn-transparent {
    background-color: transparent;
}

.btn-transparent:hover {
    background-color: rgb(212, 173, 247);
}

.btn-violet {
    border: 1px solid violet;
}

.btn-md {
    width: 180px;
}