.header {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 20px 0;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 20px;
}

.headerActions {
    display: flex;
    align-items: center;
    gap: 0 40px;
}