*, 
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000;
  background-color: #FAFBFC;
  width: 100%;
}

input, 
button, 
textarea,
select {
  font: inherit;
  outline: none;
  width: 100%;
  height: 100%;
}

body,
p, ul, li, a, 
h1, h2, h3, h4, h5, h6,
button, select, button, textarea {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}